
@tailwind components;

/** Your own components – checkout @apply */

/** Tailwind utilities */
@tailwind utilities;

body {
	padding: 3rem;
}
#primary-menu > ul > li.page_item  {
	padding: 1rem;
	border: 1px solid green;
	margin: 0 2px;
}
