header > h1,
h1 {
	font-size: 4rem;
}
.entry-content {
	margin: 2rem 0;
}
#comment  {
	border: 1px solid gainsboro;
}
#secondary > div > section > h2.widget-title {
	font-size: 2.3rem;
}

section > ul > li {
	list-style: devanagari;
	margin-left: 2rem;
}
